@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Press_Start_2P';
    src:  url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source_Code_Pro';
    src:  url('../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source_Code_Pro';
    src:  url('../fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf') format('truetype');
    font-weight: bold;
  }


body {
    font-family: 'Source_Code_Pro', monospace;
}

.font-start {
    font-family: 'Press_Start_2P', cursive;
}

.text-2xs {
    font-size: 0.60rem; /* 12px */
    line-height: 0.75rem; /* 16px */
}

.bg-ab {
    background-image: url('/img/ab.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}
/* styles/globals.css o cualquier archivo que importes */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

